@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a {
    color: inherit;
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}

:root {
    --color-primary: white;
    --color-accent: #FF923E;
    --color-light-orange: #ff9b4f;
    --color-dark-orange: #ff8426;
    --color-v-dark-orange: #f76b00;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-beige: #F5EFE6;
    --color-gray: #7C8594;
    --color-almost-black: #091434;
    --color-highlight-yellow: #FFB800;
    --color-highlight-purple: #8433CC;

}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-light-beige);
    color: var(--color-black);
    line-height: 1.7;
}

/* ========= GENERAL STYLES ========== */

h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 4.3rem;
    font-weight: 600;
    letter-spacing: -0.5px;
}

h5 {
    color: var(--color-accent);
    font-size: 1.2rem;
}

section {
    margin-top: 8rem;
    padding: 6rem;
    height: calc(100vh);
}
.height-fit-content{
    height: calc(100vh);
}

.flex-r, .flex-r-bg-c-small {
    display: flex;
    flex-direction: row;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.hide{
    display: none !important;
}

.padding-sm-6{
    padding-top: 0;
}
/* ========= BUTTON STYLES ========== */

.small-button{
    margin-left: auto;
    font-size: 1rem;
    padding: 9px 36px;
    color: white;
    border-radius: 13px;
    font-weight: 600;
    cursor: pointer;
}

.orange-hover {
    background-color: var(--color-accent);
    background-image: radial-gradient(circle at center, #ff9b4f 50%, transparent 50%);
    background-repeat: no-repeat;
    transition: background-size 300ms;
    background-size: 0 0;
    background-position: 50% 50%;
}
.orange-hover:hover {
    background-size: 200% 200%;
}
.big-button {
    padding: 13px 34px;
    border-radius: 26px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    width: max-content;
}

/* ========= CURSOR STYLES ========== */

.cursor {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1.5px solid var(--color-accent);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    z-index: 1001;
    transform: translate(calc(-50% + 15px), -50%);
  }
  
.inner-cursor {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: var(--color-accent);
    position: fixed;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1001;
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
}
  
.hover {
    width: 25px;
    height: 25px;
    border: 5px solid black;
}

.inner-hover{
    display: none;
}

.hover-white{
    width: 25px;
    height: 25px;
    border: 5px solid white;
}

section.hidden{
    opacity: 0;
    filter: blur(5px);
    transform : translateX(-100%);
    transition: all 1s;
}

section.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    section.hidden{
        transition: none;
    }
}

/* ========= HOME ========== */
#home-info-svg{
    max-width: 70%;
}

.headline{
    transform-origin: left;
    font-size: 64px;
    font-weight: 600;
    fill: #091434;
    letter-spacing: -0.5px;
}

h1 span {
    font-size: 40px;
    margin-left: 40px;
}
  
#sub-headline{
  padding: 2rem 0 2rem 0;
  font-size: 2.5rem;
}

.orange-highlight{
  color: var(--color-dark-orange);
  font-weight: 700;
}

#img-container{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 15%;
}

#resume-cta-btn{
    margin-left: 2rem;
}

.middle{
    display: none;
}

/* ========= Animated Mouse ========== */

.animated-mouse{
    width: 24px;
    height: 38px;
    border: 3px solid var(--color-almost-black);
    border-radius: 12px;
    box-sizing: border-box;
}

.animated-mouse:before{
    content : "";
    width : 5px;
    height: 10px;
    position: absolute;
    top: 30px;
    background-color: var(--color-almost-black);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    animation: mouse 1.5s infinite;
    opacity: 1;
}

@keyframes mouse {
    from {
        top: 8px;
    }
    to {
        top: 18px;
    }
}
/* ========= ABOUT ========== */
#about-container{
    align-items: center;
}

#about-container p {
    max-width: 60%;
    padding: 2rem 4rem 2rem 0;
}

#about-container > img{
    border: 5px solid var(--color-almost-black);
    border-radius: 45px;
}

#about-container > img:hover{
    border: none;
}
/* ========= NAV ========== */

#nav{
    position: fixed;
    top: 0;
    width: 100%;
    transition: 250ms;
    padding-top: 15px;
    pointer-events: none;
    justify-content: space-between;
    z-index: 1000;
    padding: 10px;
}
#nav-logo{
    font-size: 2rem;
    letter-spacing: -0.1em;
    position: relative;
    z-index: 1000;
}
#nav-logo:hover {
    font-weight: bold;
    letter-spacing: 0.05em;
}
.menu-icon{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 3;
}
.menu-button-bar{
    width: 26px;
    height: 4px;
    background: white;
    margin: 2.5px;
    border-radius: 2px;
    transition: transform 250ms ease-in-out;
}

#nav-menu-content{
    position: relative;
    height: 100%;
    width: 240px;
    justify-content: center;
    flex: 1;
}
#nav-menu-container{
    position: fixed;
    top: 0;
    height: 100%;
    background: white;
    z-index: 2;
    box-sizing: border-box;
    padding: 50px 50px 70px 50px;
}

.nav-menu-item{
    cursor: unset !important;
    transform: translateX(28px);
    position: relative;
    border-radius: 15px;
    margin: 15px 0;
    font-weight: 600;
    font-size: 1.8rem;
    width: fit-content;
    color: var(--color-almost-black);
    cursor: pointer;
    transition: color 0.35s ease;
}

.nav-menu-item:hover{
    color: var(--color-accent)
}

.active.nav-menu-item:hover{
    color: var(--color-almost-black);
}
.active.nav-menu-item::after{
    position: absolute;
    height: 14px;
    width: 14px;
    display: flex;
    border-radius: 50%;
    content: "";
    color: white;
    background: #FF923E;
    left: -10px;
    top: 50%;
    transform: translate(-16px, -50%);
}

.slide-transition{
    transition: left .9s cubic-bezier(.6, 0, .4, 1), right .9s cubic-bezier(.6, 0, .4, 1);
}

/* ========= SKILLS ========== */
#skills-container{
    width: 50%;
}
.skill-item{
    padding: 0.5rem 0;
}
.skill-set__bar {
    width: 100%;
    height: 1.4rem;
    background: #fff;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
    box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}
.skill-set__bar:after {
    -webkit-animation: ratio90 1.5s forwards;
    animation: ratio90 1.5s forwards;
}
.skill-set__bar:after {
    background-image: -webkit-linear-gradient(left, var(--color-v-dark-orange), var(--color-accent) 42%, var(--color-light-orange));
    background-image: -o-linear-gradient(left, var(--color-v-dark-orange), var(--color-accent) 42%, var(--color-light-orange));
    background-image: linear-gradient(to right, var(--color-v-dark-orange),  var(--color-accent) 42%, var(--color-light-orange));
}


.skill-set__bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
}
.skill-set__bar.advanced:after{
    width: 85%;
}
.skill-set__bar.intermediate:after{
    width: 65%;
}

/* ========= WORK ========== */

.card{
    background: white;
    border-radius: 20px;
    overflow: hidden;
    width: 350px;
    height: 600px;
}

.card img{
    width: calc(100% - 16px);
    margin: 8px;
    margin-bottom: 5px;
    object-fit: cover;
    height: 300px;
    border-radius: 13px;
}
.card-content{
    padding: 8px 16px;
    box-sizing: border-box;
    flex: 1;
}

.image-content{
    padding: 1rem
}

.slide-container{
    max-width: 1120px;
    width: 100%;
}

.swiper {
    width: 100%;
    height: calc(100% + 16px);
}

.slide-content.swiper-wrapper{
    height: 90%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next.orange-nav-next, .swiper-button-prev.orange-nav-prev{
    top: 93.5%;
    color: var(--color-white);
    width: 50px;
    height: 50px;
    background: var(--color-accent);
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 50px;
    
}

.swiper-button-next.orange-nav-next:after, .swiper-button-prev.orange-nav-prev:after{
    font-size: 30px;
}

.swiper-button-next.orange-nav-next{
    left: 60%;
}

.swiper-button-prev.orange-nav-prev{
    left: 40%;
}

@media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  }

.learn-more-btn{
    margin: 1rem;
}

.card-content{
    align-items: center;
}

.desc{
    font-size: 1rem;
}

.tech-tag{
    font-size: .65rem;
    padding: 1px 7px;
    margin-right: 5px;
    color: white;
    border-radius: 10px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}
.tech-tag.yellow{
    background: var(--color-highlight-yellow);
}
.tech-tag.purple{
    background: var(--color-highlight-purple);
}
.tech-tag.grey{
    background: white;
    border: 1px solid #7C8594;
    color: #7C8594;
}

/* ========= CONTACT ========== */
.container > hr {
    width: 40px;
    background-color: #FF923E;
    margin: 0;
    margin-right: 20px;
    height: 2px;
}

#contact-form-container {
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 20px;
    background: white;
    max-width: 50%;
    max-height: 90vh;
}

.input-container > input, .input-container > textarea{
    border: none;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    background: transparent !important;
    font-weight: 500;
    color: #111029;
    resize: none;
}

.input-container{
    width: 100%;
    box-sizing: border-box;
    background: #F5F5F5;
    color: #ACACAC;
    border-radius: 13px;
    padding: 7px;
    padding-left: 15px;
    border: 2px solid #F5F5F5;
    margin-bottom: 1rem;
}

.input-container label, .input-container span {
    font-size: .8rem;
    font-weight: 500;
    margin-right: 10px;
}

.error-label{
    display: none !important;
}


/* ========= FOOTER ========== */
#footer{
    text-align: center;
    font-size: 1.05em;
    padding: 2em 2em;
    background: var(--color-accent);
    position: relative;
}
.highlight-white{
    color : var(--color-white);
    font-weight: 600;
}

#social-container{
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    height: 120px;
    width: 100%;
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon{
    height: 80%;
    width: 80%;
}

.social-media-icon:hover{
    height: 90%;
    width: 90%;
}

/* ========= MEDIA QUERIES ========== */
/* Small Mobile */
@media screen and (max-width: 400px){
    h1{
        font-size: 2.5rem;
    }
    section{
        padding: 1.5rem;
    }
    #sub-headline{
        font-size: 1.6rem;
    }
    .padding-sm-6{
        padding-top: 6rem;
    }
    .big-button{
        font-size : 0.6rem;
    }
}

/* Mobile */
@media screen and (max-width: 767px){
    #nav-menu-container{
        width: calc(100%);
    }
    .flex-r-bg-c-small{
        flex-direction: column;
    }
    #about-container p {
        max-width: 100%;
        padding: 1.5rem 0 0 0;
    }
    .swiper-button-next.orange-nav-next:after, .swiper-button-prev.orange-nav-prev:after{
        font-size: 15px;
    }
    .swiper-button-next.orange-nav-next, .swiper-button-prev.orange-nav-prev{
        width: 30px;
        height: 30px;
        top: 98%;
    }
    .slide-content.swiper-wrapper {
        height: 700px;
    }
    
}

/* Tablet */
@media screen 
and (min-width: 768px) 
and (max-width: 1023px){
    h1{
        font-size: 3.3rem;
    }
    section.flex-r{
        justify-content: center;
    }
    #nav-menu-container{
        width: 400px;
    }
    .slide-container.swiper{
        width: 750px;
    }
    .slide-content.swiper-wrapper {
        height: 650px;
    }
    .card img{
        margin: 2px;
        margin-bottom: 2px;
        height: 200px;
    }
    .card-content{
        padding: 4px 8px;
    }
    .title{
        font-size: 1.4rem;
    }
    .card{
        height: 500px;
    }
}

/* Tablet & Mobile */
@media screen  
and (max-width: 1023px){
    section.height-fit-content{
        height : fit-content;
    }
    #contact-form-container{
        max-width: 100%;
    }
    #skills-container{
        width : 100%
    }
    .inner-cursor, .cursor{
        display: none;
    }
}

/* Small Laptop Screens */
@media screen and (min-width: 1024px) and (max-width: 1500px) {
    .card img{
        margin: 2px;
        margin-bottom: 2px;
        height: 200px;
    }
    .card-content{
        padding: 4px 8px;
    }
    .title{
        font-size: 1.4rem;
    }
    .card{
        height: 500px;
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    .middle{
        position:absolute;
        top: 78%;
        display: block;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #nav-menu-container{
        width: 400px;
    }
}