#typing-cursor {
    display: inline-block;
    background-color: var(--color-almost-black);
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
    line-height: 3rem;
  }

#typing-cursor.typing {
    animation: none;
}

@keyframes blink {
    0%  { background-color: var(--color-almost-black); }
    49% { background-color: var(--color-almost-black); }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: var(--color-almost-black); }
  }